Node-RED.json
{"id":"91f45f46.6e0ba","type":"twilio-api","sid":"ACd8872f821eec9cc49ae63246f3e26f98","from":"+14695072994","name":"peepee@ms8.url.com.tw"},{"id":"3e77d543.c1882a","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"0021cc5e2928","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":118.99996948242188,"y":210.99996948242188,"z":"f6f63b39.f467c8","wires":[["116c8ebc.c58f29"]]},{"id":"ae0082ac.51ff8","type":"function","name":"get date&time","func":"var d = new Date();\nvar dt = d.toString().split(' GMT');\nmsg.payload.warning_msg = \"Your house is invaded !! [\"+ dt[0] + \"]\";\nmsg.payload.d = d;\nreturn msg;","outputs":"1","noerr":0,"x":486.4999694824219,"y":210.99996948242188,"z":"f6f63b39.f467c8","wires":[["5dad02b7.a252fc","ae321d4a.51cde","958cdb02.6a7328","bfbf118d.4040f"]]},{"id":"5dad02b7.a252fc","type":"debug","name":"debug warning message","active":true,"console":"false","complete":"payload.warning_msg","x":766.4998474121094,"y":129.9999542236328,"z":"f6f63b39.f467c8","wires":[]},{"id":"116c8ebc.c58f29","type":"delay","name":"Once per minute","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300.9999694824219,"y":210.9999542236328,"z":"f6f63b39.f467c8","wires":[["ae0082ac.51ff8"]]},{"id":"d16859e7.2e97a8","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"0021cc5e2928","deviceType":"ArduinoUnoType","eventCommandType":"alerm","format":"json","data":"{\"d\":{\"alerm\":\"yes\"}}","name":"IBM IoT App Out","service":"registered","x":905.6667098999023,"y":335.66661834716797,"z":"f6f63b39.f467c8","wires":[]},{"id":"ae321d4a.51cde","type":"template","name":"fire alerm","field":"payload","format":"json","template":"{\"d\": {\"alerm\":\"yes\"}}","x":714.6665954589844,"y":335.6666488647461,"z":"f6f63b39.f467c8","wires":[["d16859e7.2e97a8"]]},{"id":"958cdb02.6a7328","type":"cloudant out","service":"ncculab3-cloudantNoSQLDB","cloudant":"","name":"Store record","database":"invaded_record","payonly":true,"operation":"insert","x":720.6666564941406,"y":257.66661834716797,"z":"f6f63b39.f467c8","wires":[]},{"id":"bfbf118d.4040f","type":"twilio out","service":"_ext_","twilio":"91f45f46.6e0ba","from":"","number":"+886917781760","name":"send SMS","x":711.6666564941406,"y":187.66663360595703,"z":"f6f63b39.f467c8","wires":[]}
