Node-RED.json
[{"id":"91f45f46.6e0ba","type":"twilio-api","sid":"ACd8872f821eec9cc49ae63246f3e26f98","from":"+14695072994","name":"peepee@ms8.url.com.tw"},{"id":"8f1620a3.70e9e","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"0021cc5e2928","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":157.66665649414062,"y":206.00000762939453,"z":"ede3caf3.121c38","wires":[["f41f400f.0be0c"]]},{"id":"c0e68557.3f1978","type":"function","name":"get date&time","func":"var d = new Date();\nvar dt = d.toString().split(' GMT');\nmsg.payload.warning_msg = \"Your house is invaded !! [\"+ dt[0] + \"]\";\nmsg.payload.d = d;\nreturn msg;","outputs":"1","noerr":0,"x":525.1666564941406,"y":206.00000762939453,"z":"ede3caf3.121c38","wires":[["ee31b318.11ce5","b6672a01.4998d8","2a0a469f.d5f5ba","b682d9be.497d28"]]},{"id":"ee31b318.11ce5","type":"debug","name":"debug warning message","active":true,"console":"false","complete":"payload.warning_msg","x":805.1665344238281,"y":124.99999237060547,"z":"ede3caf3.121c38","wires":[]},{"id":"f41f400f.0be0c","type":"delay","name":"Once per minute","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":341.6666564941406,"y":205.99999237060547,"z":"ede3caf3.121c38","wires":[["c0e68557.3f1978"]]},{"id":"a0d91b2e.5f26e8","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"0021cc5e2928","deviceType":"ArduinoUnoType","eventCommandType":"alarm","format":"json","data":"{\"d\":{\"alarm\":\"yes\"}}","name":"IBM IoT App Out","service":"registered","x":971.3333435058594,"y":205.66659545898438,"z":"ede3caf3.121c38","wires":[]},{"id":"b6672a01.4998d8","type":"template","name":"fire alarm","field":"payload","format":"json","template":"{\"d\": {\"alarm\":\"yes\"}}","x":748.3332824707031,"y":205.66665649414062,"z":"ede3caf3.121c38","wires":[["a0d91b2e.5f26e8"]]},{"id":"b682d9be.497d28","type":"cloudant out","service":"ncculab3-cloudantNoSQLDB","cloudant":"","name":"Store record","database":"invaded_record","payonly":true,"operation":"insert","x":760.3333435058594,"y":349.6666259765625,"z":"ede3caf3.121c38","wires":[]},{"id":"2a0a469f.d5f5ba","type":"twilio out","service":"_ext_","twilio":"91f45f46.6e0ba","from":"","number":"+886917781760","name":"send SMS","x":751.3333435058594,"y":279.66664123535156,"z":"ede3caf3.121c38","wires":[]}]
